<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <a routerLink="/categorias" mat-list-item>
                <div class="d-flex">
                    <i class="material-icons">home</i>
                    <span>Home</span>    
                </div>
            </a>
                <a routerLink="/dashboard/tarefas" mat-list-item>
                    <div class="d-flex">
                        <i class="material-icons">list</i>
                        <span>Tarefas</span>    
                    </div>
                </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
       <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>