.custom-btn-xs {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25;
    border-radius: 0.2rem;
  }
  .custom-spinner {
    width: 30px; /* Defina o tamanho desejado */
    height: 30px; /* Defina o tamanho desejado */
}