<div class="card mt-2">
    <div class="card-body">
        <h2 class="card-title">{{label}}</h2>
      <form [formGroup]="userForm">
        <div class="row g-2">
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="firstName">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <mat-label>Sobrenome</mat-label>
              <input matInput formControlName="lastName">
            </mat-form-field>
          </div>
        </div>
        <div class="row g-2 mt-2">
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <mat-label>UserName</mat-label>
              <input matInput formControlName="userName">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <mat-label>Role</mat-label>
              <mat-select formControlName="role">
                <mat-option value="ADMIN">Administrador</mat-option>
                <mat-option value="USER">Usuário</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row g-2 mt-2">
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <mat-label>Senha</mat-label>
              <input matInput type="password" formControlName="password">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <mat-label>Confirmar Senha</mat-label>
              <input matInput type="passwordConfirm">
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-12">
            <div class="d-flex justify-content-start mt-4">
              <button [routerLink]="['/usuarios']" routerLinkActive="router-link-active"  type="button" class="btn btn-warning me-2">Voltar</button>
              <button (click)="validateForm()" class="btn btn-success">Salvar</button>
            </div>
          </div>
      </form>
    </div>
  </div>
  