/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "~bootstrap/dist/css/bootstrap.min.css";
 
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #fafafa;
}
.mat-mdc-form-field-focus-overlay {
  background-color: transparent;
}
.ngx-pagination, .pagination-previous {
  padding-left: 0px !important;
}
@import 'ngx-toastr/toastr';
  